{% extends "base/frontend.html" %}
{% block content %}
	<article class="content-box col">
		<header>
			<h2>Hello, {{request.user.username}}..</h2>
		</header>
		<section>
			<p>.. you are going to logout. Are you going to make a break, or has your session ended?</p>
		</section>

			<div style="float:left;margin-top:25px;">
				<a href="{% url logout %}" class="button green" style="font-size:45px;">Just a break</a>
			</div>
			<div style="float:right;margin-top:25px;">
				<a href="{% url logout %}?type=session_end" style="font-size:45px;" class="button red">Session has ended</a>
			</div>
	</article>
{% endblock %}