{% extends "base/frontend.html" %}
{% block content %}
<script type="text/javascript">
	var tickets = {{tickets_json|safe}};
	var cartsum = 0;
	var position = 0;
	function add(pk, uuid){
		$('#preorder_search').html('');
		t = getData(pk);
		var limit = "";
		if(t.fields.limit_supervisor){
			limit = "<button class='icon red tooltip' title='Needs supervisor'><img src='{{STATIC_URL}}img/icons/buttons/alert.png'></button> ";
		}
		if(t.fields.limit_honorary_member){
			limit = "<button class='icon red tooltip' title='Needs Chaosnummer'><img src='{{STATIC_URL}}img/icons/buttons/alert.png'></button> ";
		}

		if (typeof(uuid) == "undefined" || !uuid) {
			var uuid = "";
			var uuid_short = "";
			var input = "<input type=\"hidden\" name=\"position\" value=\""+pk+"\"/>";
		} else {
			var uuid_short = "<br /><small>"+uuid.substring(0, 8)+"</small>";
			var input = "<input type=\"hidden\" name=\"uuid\" value=\""+uuid+"\"/>";
		}

		$("#cart").append("<tr id='cart-"+position+"'>" +
							"<td class='name'>"+input+limit+t.fields.name+uuid_short+"</td>" +
							"<td class='price'>"+parseFloat(t.fields.sale_price).toFixed(2)+" "+t.fields.currency+"</td>" +
							"<td class='remove'><button class='icon red tooltip' title='Remove' onClick='remove("+position+","+parseFloat(t.fields.sale_price).toFixed(2)+");return false;'><img src='{{STATIC_URL}}img/icons/buttons/box_outgoing.png'></button></td>" +
						  "</tr>");
		cartsum += parseFloat(t.fields.sale_price);
		$("#cart-sum").html(cartsum.toFixed(2)+" EUR");
		position += 1;
	}
	function remove(pos, sub){
		$("#cart-"+pos).html("");
		cartsum -= sub;
		$("#cart-sum").html(cartsum.toFixed(2)+" EUR");
	}
	function emptyCart(){
		$("#cart").html("");
		cartsum = 0;
		$("#cart-sum").html("0.00 EUR");
	}
	function getData(pk){
		for(t in tickets){
			if(tickets[t].pk == pk){
				return tickets[t];
			}
		}
		return false;
	}

	searchTimeout = null;

	doSearch = function() {
		searchTimeout = null;
		var uuid = $('#preorder_uuid').val();

		$('#preorder_search').html('');

		if (uuid.length == 36) {
			$('#preorder_search').html('');
			return;
		}

		if (uuid == '') {
			$('#preorder_search').html('');
			return;
		}
		$.ajax({
			type: 'GET',
			url: '/api/preorder_position_search/'+uuid+'/',
			success: function(response) {
				var html = '';
				$.each(response, function(i, result) {
					html = html + '<tr><td style="font-size:medium;height:10px;cursor:pointer;"><span onclick="add('+result.ticket__backend_id+',\''+result.uuid+'\');$(\'#preorder_search\').html(\'\');$(\'#preorder_uuid\').val(\'\');">'+result.uuid+'</span></td></tr>';
				});
				$('#preorder_search').html(html);

			}
		});
	}

	$(document).ready(function() {
		$('#preorder_uuid').focus();
		$('#preorder_uuid').select();

		$('#preorder_uuid').keyup(function() {
			var uuid = this.value.trim();

			if (uuid.length < 5) {
				$('#preorder_search').html('');
				return;
			}

			if (searchTimeout == null)
				searchTimeout = setTimeout(function(){doSearch()}, 2000);
		});

		$('#preorder_form').submit(function() {
			var uuid = $('#preorder_form input').val().trim();

			// check if this ticket has already been added to the cart
			if ($('input[name=uuid][value='+uuid+']').length) {
				errorNotification('This Ticket has already been added to the cart.');
				$('#preorder_uuid').focus();
				$('#preorder_uuid').select();
				$('#preorder_uuid').val('');
				return;
			}

			$.ajax({
				type: 'GET',
				url: '/api/preorder_position/'+uuid+'/',
				statusCode: {
					410: function() {
						console.log('Got 410: Gone');
						errorNotification('Ticket not found!');
					},
					404: function() {
						console.log('Got 404: Not Found');
						errorNotification('Invalid Ticket ID - UUID required!');
					},
					200: function(pk) {
						console.log('Got 200: OK');
						add(pk, uuid);
					},
					401: function() {
						console.log('Got 401: Forbidden');
						errorNotification('This Preorder Code has already been redeemed!');
					}
				},
				complete: function() {
					$('#preorder_uuid').focus();
					$('#preorder_uuid').select();
					$('#preorder_uuid').val('');
				}
			});

			console.info('Scanned', uuid);
		});
	});
</script>
		<article class="content-box col-super2p1">
			<header>
				<h2>Cashdesk</h2>
			</header>
			<section>
				<table id="tickets">
					{% for t in tickets %}
					{% if not  t.preorder_sold %}
						<tr>

							<td style="padding-left:20px;width:50px;">
								{% if t.description %}<button class="icon green" onClick="$('#detail-{{t.pk}}').fadeToggle(); return false;"><img src="{{STATIC_URL}}img/icons/buttons/info_about.png"></button>
								{% endif %}
							</td>
							<td style="text-align:left;max-width:300px;">
								<span style="font-size:large;">{{t.name}}</span>
							</td>
							<td style="width:100px;">{{t.sale_price|floatformat:2}} {{t.currency}}</td>
							{#<td style="width: 80px;"><button class="button blue" onclick="return false;">Sell!</button></td>#}
							<td style="width: 80px; padding-right: 20px;"><button class="button green" onclick="add({{t.pk}})">Add to Cart</button></td>
						</tr>
						{% if t.description %}
						<tr id="detail-{{t.pk}}" style="display:none;" onClick="$('#detail-{{t.pk}}').fadeToggle()">
							<td colspan="5" style="text-align:left;padding-left:30px;">{{t.description|safe|linebreaksbr}}</td>
						</tr>
						{% endif %}
						{% endif %}
					{% empty %}
					<tr><td>No tickets available for sale.</td></tr>
					{% endfor %}
				</table>
			</section>
		</article>

		<article class="content-box col-super2p2 clear-rm">
			<header>
				<h2>Preorder Code</h2>
			</header>
			<section>
				<table id="preorder">
				</table>
				<table>
					<tr>
						<td style="padding:10px;">
							<form action="javascript:;" id="preorder_form">
								<input type="text" name="preorder_uuid" id="preorder_uuid" style="width:90%;outline:0;" />
							</form>
						</td>
					</tr>
				</table>
				</form>
				<table id="preorder_search" style="position:absolute;width:340px;z-index:10000;">
				</table>
			</section>
		</article>

		<article class="content-box col-super2p2" style="display:none;">
			<header>
				<h2>Tools</h2>
			</header>
			<section>
				<table id="tools">
				</table>
				<table>
					<tr>
						<td style="padding:10px;">
							<button id="tools_opendrawer" class="button" style="width:90%;">Open Drawer</button>
						</td>
					</tr>
				</table>
				</form>
			</section>
		</article>

		<article class="content-box col-super2p2 clear-rm" style="float:right;">
			<header>
				<h2>Cart</h2>
			</header>
			<section>
				<form method="POST" action="{% url "desk-sell" %}">
				{% csrf_token %}
				<table id="cart">
				</table>
				<table>
					<tr>
						<td style="text-align:left; padding-left: 20px;">
							<button class="button red tooltip" title="Empty Cart" onclick="emptyCart(); return false;">Clear</button>
						</td>
						<td id="cart-sum">0.00 EUR</td>
						<td style="text-align:right; padding-right: 20px;">
							<input type="submit" class="button green" onclick="return true;" value="Checkout"/>
						</td>
					</tr>
				</table>
				</form>
			</section>
		</article>
		<div class="clearfix"></div>
{% endblock %}