{% extends "base/frontend.html" %}
{% block content %}
		<div class="notification attention">
			<a href="#" class="close-notification tooltip" title="Hide Notification">x</a>
			<h4>Attention, honorary member identification required!</h4>
			<p>The cart contains Tickets which require honorary member identification! Enter Chaosnummer or full name here.</p>
		</div>


		<form method="POST" action="{% url desk-sell-fulfill sale.pk %}" id="honoary_member">
		<article class="content-box col-super3p1">
			<header>
				<h2>Cart</h2>
			</header>
			<section>
				<table id="tickets">
					<thead>
						<tr>
							<th>Ticket</th>
							<th>Price</th>
							<th>Honorary member identification<br/><small>(or supervisor token)</small></th>
						</tr>
					</thead>
					{% for p in positions %}
					<tr>
						<td style="text-align:left;padding-left:20px;max-width:300px;">
							<span style="font-size:large;">{{p.ticket.name}}</span>
							{% if p.ticket.limit_honorary_member %}
							<button class='icon red tooltip' title='Needs honorary member identification'><img src='{{STATIC_URL}}img/icons/buttons/alert.png'></button>
							<br />
							This Ticket required honorary member identification.
							{% endif %}
						</td>
						<td style="width:150px;">
							{{p.ticket.sale_price|floatformat:2}}
							{{p.ticket.currency}}
							<br/>
							<small>incl. {{p.ticket.tax_rate}}% tax</small>
						</td>
						<td>
							{% if p.ticket.limit_honorary_member %}
							<table style="border:0px;">
								<tbody style="border:0px;">
								<tr>
									<td style="padding:10px;border:0px;">
											{% csrf_token %}
											<input type="text" name="honoary_member_number_{{p.pk}}" id="honoary_member_number_{{p.pk}}" style="width:90%;outline:0;" />
											<script type="text/javascript">
												$("#honoary_member_number_{{p.pk}}").keypress(function(e){
													// Obfuscate input if supervisor token
													if (this.value.length > 16) {
														this.type = "password";
													} else {
														this.type = "text";
													}
												});
											</script>
											{% if not forloop.last %}
											<script type="text/javascript">
												{# we need to prevent form submitting for all fields but the last one #}
												{# so that cashiers can scan supervisor codes here #}
												$("#honoary_member_number_{{p.pk}}").keypress(function(e){
													if (e.which == 13) {
														e.preventDefault(); return false;
													}
												});
											</script>
											{% endif %}
										</form>
									</td>
								</tr>
								</tbody>
							</table>
							<table id="honoary_member_number_search_{{p.pk}}" style="position:absolute;width:340px;z-index:10000;">
							</table>
							<script type="text/javascript">
								$(document).ready(function() {
									searchTimeout_{{p.pk}} = null;

									doSearch_{{p.pk}} = function() {
										searchTimeout_{{p.pk}} = null;
										var number = $('#honoary_member_number_{{p.pk}}').val();

										$('#honoary_member_number_search_{{p.pk}}').html('');

										if (number == '') {
											$('#honoary_member_number_search_{{p.pk}}').html('');
											return;
										}
										$.ajax({
											type: 'GET',
											url: '/api/honoary_member_number_search/'+number+'/',
											success: function(response) {
												var html = '';
												$.each(response, function(i, result) {
													html = html + '<tr><td style="font-size:medium;height:10px;cursor:pointer;"><span onclick="$(\'#honoary_member_number_{{p.pk}}\').val(\''+result.membership_number+'\');$(\'#honoary_member_number_search_{{p.pk}}\').html(\'\');">#'+result.membership_number+' ('+result.full_name+')</span></td></tr>';
												});
												$('#honoary_member_number_search_{{p.pk}}').html(html);

											}
										});
									}

									$('#honoary_member_number_{{p.pk}}').keyup(function() {
										var uuid = this.value.trim();

										if (uuid.length < 1) {
											$('#honoary_member_number_search_{{p.pk}}').html('');
											return;
										}

										if (searchTimeout_{{p.pk}} == null)
											searchTimeout_{{p.pk}} = setTimeout(function(){doSearch_{{p.pk}}()}, 300);
									});
								});
							</script>
							{% else %}
							-
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</table>

				<p style="text-align:right;"><a href="{% url dashboard %}" class="button red">Cancel</a>
				<a href="javascript:$('#honoary_member').submit();" href="{% url dashboard %}" class="button green">Continue</a></p>
			</section>
		</article>
		<input type="hidden" name="supervisor_auth_code" value="{{supervisor_auth_code}}" />
		{% for p in list_positions %}
		<input type="hidden" name="position" value="{{p}}" />
		{% endfor %}
		{% for u in list_preorders %}
		<input type="hidden" name="uuid" value="{{u}}" />
		{% endfor %}
		</form>

		<div class="clearfix"></div>
{% endblock %}