/* reduce upper spacing */
section[role=main] {
	padding-top: 50px;
}

/* reduce content-box header size */
.content-box header {
	height: auto;
}
.content-box header h2 {
	font-size: small;
	padding: 7px 60px 7px 7px;
}
