{% extends "base/backend.html" %}
{% block content %}
		<article class="content-box col-2">
			<header>
				<h2>Cashdesks</h2>
			</header>
			<section>
				<h3 class="bb">Open</h3>
				<ul>
				{% for cd in cashdesks_open %}
					<li>{{cd.name}} ({{cd.active_session.cashier}}, {{cd.active_session.valid_from|date:"Y-m-d H:i:s"}} - {{cd.active_session.valid_until|date:"Y-m-d H:i:s"}})</li>
				{% empty %}
					<li style="font-style: italic;">None</li>
				{% endfor %}
				</ul>
				<h3 class="bb">Closed</h3>
				<ul>
				{% for cd in cashdesks_closed %}
					<li>{{cd.name}}</li>
				{% empty %}
					<li style="font-style: italic;">None</li>
				{% endfor %}
				</ul>
				<h3 class="bb">Disabled</h3>
				<ul>
				{% for cd in cashdesks_inactive %}
					<li>{{cd.name}}</li>
				{% empty %}
					<li style="font-style: italic;">None</li>
				{% endfor %}
				</ul>
			</section>
		</article>
		<article class="content-box col-2 clear-rm">
			<header>
				<h2>Cashiers</h2>
				<nav>
					<ul class="button-switch">
						<li><a href="{% url backend-cashdesks-cashier-add %}" class="button">Add</a></li>
					</ul>
				</nav>
			</header>
			<section>
				<h3 class="bb">Logged In</h3>
				<ul>
				{% for ch in cashiers_active %}
					<li>{{ch.cashier}} ({{ch.cashdesk}})</li>
				{% empty %}
					<li style="font-style: italic;">None</li>
				{% endfor %}
				</ul>
				<h3 class="bb">Others</h3>
				<ul>
				{% for cd in cashiers_inactive %}
					<li>{{cd.username}}</li>
				{% empty %}
					<li style="font-style: italic;">None</li>
				{% endfor %}
				</ul>

			</section>
		</article>

		<article class="content-box col-2">
			<header>
				<h2>Sessions</h2>
				<nav>
					<ul class="button-switch">
						<li><a href="{% url backend-cashdesks-session-add %}" class="button">Add</a></li>
					</ul>
				</nav>
			</header>
			<section>
				<h3 class="bb">Upcoming</h3>
				<ul>
				{% for us in sessions_upcoming %}
					<li><a href="{% url backend-cashdesks-session-edit us.pk %}">{{us}}</a></li>
				{% empty %}
					<li style="font-style: italic;">None</li>
				{% endfor %}
				</ul>

				<h3 class="bb">Active</h3>
				<ul>
				{% for as in sessions_active %}
					<li><a href="{% url backend-cashdesks-session-edit as.pk %}">{{as}}</a></li>
				{% empty %}
					<li style="font-style: italic;">None</li>
				{% endfor %}
				</ul>

				<h3 class="bb">Paused</h3>
				<ul>
				{% for ps in sessions_paused %}
					<li><a href="{% url backend-cashdesks-session-edit ps.pk %}">{{ps}}</a></li>
				{% empty %}
					<li style="font-style: italic;">None</li>
				{% endfor %}
				</ul>

				<h3 class="bb">Recently ended</h3>
				<ul>
				{% for rs in sessions_old %}
					<li><a href="{% url backend-cashdesks-session-edit rs.pk %}">{{rs}}</a></li>
				{% empty %}
					<li style="font-style: italic;">None</li>
				{% endfor %}
				</ul>

			</section>
		</article>

		<article class="content-box col-2 clear-rm">
			<header>
				<h2>Archive</h2>
			</header>
			<section>

				<ul>
				{% for os in sessions_archive %}
					<li><a href="{% url backend-cashdesks-session-edit os.pk %}">{{os}}</a></li>
				{% empty %}
					<li style="font-style: italic;">None</li>
				{% endfor %}
				</ul>

			</section>
		</article>
{% endblock %}