{% extends "base/backend.html" %}
{% block content %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#reprint_receipt').click(function() {
			var cashdesk = $('#reprint_receipt_cashdesk').val();
			$.ajax({
				type: 'GET',
				url: '/api/receipt/print/{{sale.pk}}/'+cashdesk+'/',
				success: function(response) {
					successNotification('Command sent to Printer!');
				},
				error: function() {
					errorNotification('Error while sending this command to the printer!')
				}
			});
		});
	});
</script>
		<article class="content-box col-2">
			<header>
				<h2>Sale Detail</h2>
			</header>
			<section>
				<h3>Sale #{{sale.pk}}</h3>
				<form class="horizontal-form">
				{% if sale.reversed %}
				<h2 style="color:red;">This sale has been reversed by {{sale.reversed_by}}!</h3>
				{% endif %}
				<fieldset>
					<legend>Data</legend>
					<dl>
						<dt>
							<label>Cashdesk</label>
						</dt>
						<dd class="text">
							<p>{{sale.cashdesk}}</p>
						</dd>
						<dt>
							<label>Cashier</label>
						</dt>
						<dd class="text">
							<p>{{sale.cashier}}</p>
						</dd>
						<dt>
							<label>Date</label>
						</dt>
						<dd class="text">
							<p><a href="{% url backend-cashdesks-session-edit sale.session.pk %}">{{sale.time|date:"d.m.y H:i:s"}}</a></p>
						</dd>
						<dt>
							<label>Session</label>
						</dt>
						<dd class="text">
							<p><a href="{% url backend-cashdesks-session-edit sale.session.pk %}">#{{sale.session.pk}}</a></p>
						</dd>
						<dt>
							<label>Value</label>
						</dt>
						<dd class="text">
							<p>{{sale.cached_sum|floatformat:2}} &euro;</p>
						</dd>
					</dl>
				</fieldset>
				</form>

					{% if not sale.reversed %}

				<form class="horizontal-form" action="javascript:;">
				<fieldset>
					<legend>Actions</legend>
					<dl>
						<dt>
							<label>Reprint receipt</label>
						</dt>
						<dd class="text">
							at
							<select name="cashdesk" id="reprint_receipt_cashdesk">
								<!--<option>Cashdesk 1</option>
								<option>Cashdesk 2</option>-->
								{% for cashdesk in cashdesks %}
									<option value="{{cashdesk.pk}}">{{cashdesk.name}}
									</option>
								{% endfor %}
							</select>
							<button id="reprint_receipt">Print</button>
						</dd>
					</dl>
					<!--<dl>
						<dt>
							<label>Reprint invoice</label>
						</dt>
						<dd class="text">
							at
							<select name="cashdesk">
								<option>Cashdesk 1</option>
								<option>Cashdesk 2</option>
							</select>
							<button>Print</button>
						</dd>
					</dl>-->

					<dl>
						<dt>
							<label>Reverse transaction</label>
						</dt>
						<dd class="text">
							<a href="{% url backend-sale-reverse sale.pk %}" class="button red">Reverse</a>
						</dd>
					</dl>
				</fieldset>
				</form>
									{% endif %}
			</section>
		</article>
		<article class="content-box col-2 clear-rm">
			<header>
				<h2>Positions</h2>
			</header>
			<section>
				<table class="datatable">
						<thead>
							<tr>
								<th>Ticket</th>
								<th>Sale Price</th>
								<th>Invoice Price</th>
								<th>Tax</th>
								<th>Rabate</th>
							</tr>
						</thead>
						<tbody>
						{% for pos in sale.positions %}
							<tr>
								<td>{{pos.ticket.name}}
									{% if pos.ticket.limit_supervisor %}
									<br /><small>Authorized by: {{pos.supervisor}}</small>
									{% endif %}
									{% if pos.ticket.limit_honorary_member %}
									<br /><small>Honorary member: {{pos.honorary_member}}</small>
									{% endif %}
									{% if pos.supervisor %}
									<br /><small><em>Authorized by {{pos.supervisor.username}}</em></small>
									{% endif %}
									{% if pos.uuid %}
									<br /><small>{{pos.uuid}}</small>
									{% endif %}</td>
								<td>
								{% if pos.sale_price %}
									{{pos.sale_price|floatformat:2}}
								{% else %}
									{{pos.ticket.sale_price|floatformat:2}}
								{% endif %}
									&euro;
								</td>
								<td>
								{% if pos.invoice_price %}
									{{pos.invoice_price|floatformat:2}}
								{% else %}
									{{pos.ticket.invoice_price|floatformat:2}}
								{% endif %}
									&euro;
								</td>
								<td>
								{% if pos.tax_rate %}
									{{pos.tax_rate}}%
								{% else %}
									{{pos.ticket.tax_rate}}%
								{% endif %}
								</td>
								<td>
								{% if pos.rabate_rate %}
									{{pos.rabate_rate}}%
								{% else %}
									{{pos.ticket.rabate_rate}}%
								{% endif %}
								</td>
							</tr>
						{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Ticket</th>
								<th>Sale Price</th>
								<th>Invoice Price</th>
								<th>Tax</th>
								<th>Rabate</th>
							</tr>
						</tfoot>
					</table>
			</section>
		</article>
{% endblock %}