server {
	listen 80;
	server_name c4sh.lugons.org;

	return 301 https://$server_name$request_uri;
}

server {
	listen 443 ssl;
	server_name c4sh.lugons.org;

	access_log /var/log/nginx/lugons.org/c4sh.access_log main;
	error_log /var/log/nginx/lugons.org/c4sh.error_log info;

	location / {
		include uwsgi_params;
		uwsgi_pass localhost:38003;
		uwsgi_modifier1 30;
	}
}
