{% extends "base/backend.html" %}
{% block content %}

		<article class="content-box col-2">
			<header>
				<h2>Add cashier</h2>
			</header>
			<section>
				<form method="POST" action="{% url "backend-cashdesks-cashier-add" %}">
				<table class="form">
				{% csrf_token %}
				{{form}}
				<tr>
					<td colspan="2" style="text-align:right;padding:10px 30px;">
						<input type="submit" class="button green" value="Add cashier"/>
					</td>
				</tr>
				</table>
			</form>
			</section>
		</article>
{% endblock %}