{% extends "base/backend.html" %}
{% block content %}
<script type="text/javascript">
	$(document).ready(function() {
		$('#id_supervisor_before').val({{request.user.pk}});
	});
</script>
		<form method="POST" action="{% url "backend-cashdesks-session-add" %}">
			<article class="content-box col-2">
				<header>
					<h2>Basic settings</h2>
				</header>
				<section>
					<table class="form">
					{% csrf_token %}
					{{form}}
					</table>
				</section>
			</article>

			<article class="content-box col-2 clear-rm">
				<header>
					<h2>Passes</h2>
				</header>
				<section>
					<table class="form">
						{% for pass in passes %}
						<tr>
							<td>{{pass.name}}</td>
							<td><input type="text" maxlength="6" name="passes_before[{{pass.pk}}]" /></td>
						</tr>
						{% endfor %}
					</table>
				</section>
			</article>

			<article class="content-box col-2 clear-rm">
				<header>
					<h2>Create session</h2>
				</header>
				<section>
					<p style="float:left;">Make sure you entered the currect amount of money and passes before creating the session, please!</p>
					<input type="submit" class="button green" style="float:right;" value="Create session"/>
				</section>
			</article>
		</form>
{% endblock %}