{% extends "base/backend.html" %}
{% block content %}
		<article class="content-box col-2">
			<header>
				<h2>Dashboard</h2>
			</header>
			<section>
				<h3 class="bb">Welcome to {{event}}, {{user}}.</h3>
				<p>{{dashtext|safe}}</p>
			</section>
		</article>
		<article class="content-box col-2 clear-rm">
			<header>
				<h2>{{event}} Statistics</h2>
			</header>
			<section>
				<ul class="stats-summary">
					<li>
						<strong class="stats-count">{{tickets_sold}}</strong>
						<p>Tickets sold</p>
						<a href="#" class="button stats-view tooltip" title="View transactions">View</a>
					</li>
					<li>
						<strong class="stats-count">{{cashdesks_open}}/{{cashdesks}}</strong>
						<p>Cashdesks open</p>
						<a href="{% url "backend-cashdesks" %}" class="button stats-view tooltip" title="Manage cashdesks">View</a>
					</li>

					<!--<li>
						<strong class="stats-count">320.42 &euro;</strong>
						<p>Money in Cashdesks</p>
						<a href="#" class="button stats-view tooltip" title="Manage cashdesks">View</a>
					</li>-->
				</ul>

				<!--<div class="progress-bar green huge">
					<div style="width:23%;">
						<span>23<sup>%</sup></span>
					</div>
					Venue usage: 42/9000
				</div>-->

			</section>
		</article>
		<div class="clearfix"></div>

		<article class="content-box minimizer">
			<header>
				<h2>{{event}} Sales</h2>
			</header>
			<section>
				<!--<div class="tab default-tab" id="tab1">
					<h3>Ticket Sales</h3>
					<table class="data" data-chart="line">
						<thead>
							<tr>
								<td></td>
								<th scope="col">01.01.&nbsp;12:00</th>
								<th scope="col">15:00</th>
								<th scope="col">18:00</th>
								<th scope="col">21:00</th>
								<th scope="col">02.01.&nbsp;00:00</th>
								<th scope="col">03:00</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Dauerkarte</th>
								<td>20</td>
								<td>40</td>
								<td>40</td>
								<td>70</td>
								<td>30</td>
								<td>12</td>
							</tr>
							<tr>
								<th scope="row">Tagesticket 01.01.</th>
								<td>3</td>
								<td>4</td>
								<td>10</td>
								<td>13</td>
								<td>0</td>
								<td>0</td>
							</tr>
							<tr>
								<th scope="row">Tagesticket 02.01.</th>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>0</td>
								<td>3</td>
								<td>1</td>
							</tr>
						</tbody>
					</table>
				</div>-->
				<div class="tab default-tab" id="tab2">
					<h3>Ticket sales</h3>
					<table class="datatable">
						<thead>
							<tr>
								<th>Sale no.</th>
								<th>Fulfilled</th>
								<th>Cashdesk</th>
								<th>Cashier</th>
								<th>Value</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
						{% for sale in sales %}
							<tr>
								<td>{{sale.pk}}</td>
								<td>{% if sale.fulfilled %}
									<img src="{{MEDIA_URL}}admin/img/admin/icon_success.gif" />
									{% else %}
									<img src="{{MEDIA_URL}}admin/img/admin/icon_error.gif" />
									{% endif %}</td>
								<td>{{sale.cashdesk}}</td>
								<td>{{sale.cashier}}</td>
								<td>{{sale.cached_sum|floatformat:2}}</td>
								<td>
										<ul class="actions">
											<li><a class="view tooltip" href="{% url "backend-sale-detail" sale.pk %}" title="View Sale">view</a></li>
										</ul>
								</td>
							</tr>
						{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Sale no.</th>
								<th>Fulfilled</th>
								<th>Cashdesk</th>
								<th>Cashier</th>
								<th>Value</th>
								<th>Options</th>
							</tr>
						</tfoot>
					</table>
					</form>
				</div>
			</section>
		</article>
{% endblock %}