{% extends "base/backend.html" %}
{% block content %}
		<article class="content-box minimizer">
			<header>
				<h2>{{event}} Sales</h2>
			</header>
			<section>
				<div class="tab default-tab" id="tab2">
					<h3>Ticket sales</h3>
					<table class="datatable">
						<thead>
							<tr>
								<th>Sale no.</th>
								<th>Fulfilled</th>
								<th>Cashdesk</th>
								<th>Cashier</th>
								<th>Date</th>
								<th>Value</th>
								<th>Options</th>
							</tr>
						</thead>
						<tbody>
						{% for sale in sales %}
							<tr>
								<td>{{sale.pk}}</td>
								<td>{% if sale.fulfilled %}
									<img src="{{MEDIA_URL}}admin/img/admin/icon_success.gif" />
									{% else %}
									<img src="{{MEDIA_URL}}admin/img/admin/icon_error.gif" />
									{% endif %}</td>
								<td>{{sale.cashdesk}}</td>
								<td>{{sale.cashier}}</td>
								<td>{{sale.time|date:"Y-m-d H:i:s"}}</td>
								<td>{{sale.cached_sum|floatformat:2}}</td>
								<td>
										<ul class="actions">
											<li><a class="view tooltip" href="{% url "backend-sale-detail" sale.pk %}" title="View Sale">view</a></li>
										</ul>
								</td>
							</tr>
						{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>Sale no.</th>
								<th>Fulfilled</th>
								<th>Cashdesk</th>
								<th>Cashier</th>
								<th>Date</th>
								<th>Value</th>
								<th>Options</th>
							</tr>
						</tfoot>
					</table>
					</form>
				</div>
			</section>
		</article>
{% endblock %}